top {
    position: relative;
    background-color: activecaption;
    color: white;
    padding: 0px;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    background: url("../imagene/images 1.jpg");
}

.col-4{
    width: 33.33%;
}

.col-8{
    width: 66.66%;
}
#bottom {
    position: relative;
    background-color: honeydew;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#contenedor{
    box-shadow: 0px 2px 5px rgba(0,0,0,0.7);
    margin: 0 auto;
    padding: 2px;
    text-align: left;
    width: 960px;
}

.center_content {
    height: 462px;
    padding: 0px;
}

#tooplate_header{
    background: url("../imagene/images 1.jpg");
    height: 150px;
    margin: 0 auto;
    padding: 0 40px;
}

#tooplate_middle{

    clear: both;
    height: 30px;
    margin: 0 auto;
    padding: 20px 40px;
}

#tooplate_main{
    background: url("../imagene/perrodecompras.jpg") no-repeat top;
    clear: both;
    height: 500px;
    margin: 0 auto;
    padding: 10px 40px 0;
}

#titulo{ 
    float: left;
    width: 960px;
    margin-top: 5%;
    color: black;
}
